@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #293a4c;
  line-height: 1;
  font-family: Montserrat;
  font-size: 1.375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .3s
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 103.75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,101.875rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: absolute;
  width: 100%;
  top: -100%;
  left: 0;
  z-index: 50;
  opacity: 0
}
.loaded .header {
  top: 0;
  opacity: 1;
  transition: all .6s ease .3s
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.header__images {
  display: flex
}
.header__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.footer {
  position: relative;
  z-index: 5;
  background-color: #293a4c
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .9375rem
}
.footer__copy {
  text-align: center;
  color: #fff;
  line-height: 143%
}
.page {
  position: relative
}
.page::after,
.page::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%
}
.page::before {
  top: 0;
  background: linear-gradient(180deg,#fff 0,rgba(215,215,227,.5098039216) 100%)
}
.page::after {
  bottom: 0;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg,#fff 0,#d7d7e3 100%)
}
.page__second-screen {
  display: none
}
.first-screen__body {
  display: grid;
  grid-template-columns: 27.8% auto 27.8%;
  margin-bottom: 4.375rem
}
.first-screen__items-left {
  position: relative;
  z-index: 2;
  -webkit-animation: items-left 1s forwards 9.5s;
  animation: items-left 1s forwards 9.5s
}
@-webkit-keyframes items-left {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%) scale(2);
    transform: translateX(-100%) scale(2)
  }
}
@keyframes items-left {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%) scale(2);
    transform: translateX(-100%) scale(2)
  }
}
.first-screen__items-right {
  position: relative;
  z-index: 2;
  -webkit-animation: items-right 1s forwards 10s;
  animation: items-right 1s forwards 10s
}
@-webkit-keyframes items-right {
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) scale(2);
    transform: translateX(100%) scale(2)
  }
}
@keyframes items-right {
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) scale(2);
    transform: translateX(100%) scale(2)
  }
}
.first-screen__item-left {
  position: absolute;
  opacity: 0
}
.first-screen__item-left img {
  width: 100%;
  height: 100%
}
@-webkit-keyframes view {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1
  }
  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
@keyframes view {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1
  }
  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
.first-screen__item-left:nth-child(1) {
  top: 20%;
  left: 22%;
  -webkit-animation: view 1s forwards .5s;
  animation: view 1s forwards .5s
}
.first-screen__item-left:nth-child(2) {
  top: 29%;
  right: -12%;
  -webkit-animation: view 1s forwards 3.5s;
  animation: view 1s forwards 3.5s
}
.first-screen__item-left:nth-child(3) {
  top: 41%;
  left: 6%;
  -webkit-animation: view 1s forwards 6.5s;
  animation: view 1s forwards 6.5s
}
.first-screen__item-right {
  position: absolute;
  opacity: 0
}
.first-screen__item-right img {
  width: 100%;
  height: 100%
}
.first-screen__item-right:nth-child(1) {
  top: 21%;
  left: 0;
  -webkit-animation: view 1s forwards 2s;
  animation: view 1s forwards 2s
}
.first-screen__item-right:nth-child(2) {
  top: 38%;
  right: 12%;
  -webkit-animation: view 1s forwards 5s;
  animation: view 1s forwards 5s
}
.first-screen__animation {
  position: relative;
  z-index: 1;
  padding-left: 9%;
  padding-right: 9%;
  -webkit-animation: laptop-anim 1s forwards 11.5s;
  animation: laptop-anim 1s forwards 11.5s
}
@-webkit-keyframes laptop-anim {
  100% {
    opacity: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
  }
}
@keyframes laptop-anim {
  100% {
    opacity: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
  }
}
.first-screen__simulated {
  position: relative;
  border: .0625rem solid #1f8ffe;
  background-color: #fff;
  border-radius: 1.5625rem;
  padding: .1875rem;
  margin-bottom: 3%;
  width: 100%
}
.first-screen__simulated span {
  position: absolute;
  top: .1875rem;
  bottom: .1875rem;
  left: .1875rem;
  width: 4%;
  background-color: #1f8ffe;
  border-radius: 1.5625rem;
  -webkit-animation: simulated 8s ease-in-out forwards .6s;
  animation: simulated 8s ease-in-out forwards .6s
}
@-webkit-keyframes simulated {
  0% {
    width: 4%
  }
  100% {
    width: 98.5%
  }
}
@keyframes simulated {
  0% {
    width: 4%
  }
  100% {
    width: 98.5%
  }
}
.first-screen__title {
  color: #1f8ffe;
  font-weight: 500;
  letter-spacing: -.04em;
  text-align: center;
  text-wrap: nowrap
}
.first-screen__cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: .625rem;
  -webkit-animation: cards 1s forwards 10.5s;
  animation: cards 1s forwards 10.5s
}
@-webkit-keyframes cards {
  100% {
    opacity: 0;
    -webkit-transform: translateY(200%);
    transform: translateY(200%)
  }
}
@keyframes cards {
  100% {
    opacity: 0;
    -webkit-transform: translateY(200%);
    transform: translateY(200%)
  }
}
.first-screen__card {
  color: #fff;
  background-color: #d1140e;
  border-radius: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%);
  opacity: 0
}
@-webkit-keyframes items {
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
  }
}
@keyframes items {
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
  }
}
.first-screen__card:nth-child(1) {
  -webkit-animation: items .5s forwards .6s;
  animation: items .5s forwards .6s
}
.first-screen__card:nth-child(2) {
  -webkit-animation: items .5s forwards .7s;
  animation: items .5s forwards .7s
}
.first-screen__card:nth-child(3) {
  -webkit-animation: items .5s forwards .8s;
  animation: items .5s forwards .8s
}
.first-screen__card:nth-child(4) {
  -webkit-animation: items .5s forwards .9s;
  animation: items .5s forwards .9s
}
.first-screen__card-counter {
  font-weight: 700;
  text-align: center;
  margin-bottom: .625rem
}
.first-screen__label {
  font-weight: 600;
  line-height: 162%;
  text-align: center
}
.second-screen__container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.second-screen__image {
  position: relative;
  margin-bottom: 1.875rem;
  opacity: 0;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-animation: second-screen-image .6s forwards 0s;
  animation: second-screen-image .6s forwards 0s
}
@-webkit-keyframes second-screen-image {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes second-screen-image {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.second-screen__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.second-screen__image img:nth-child(2) {
  position: absolute;
  top: -8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.second-screen__button-box {
  position: relative;
  display: flex;
  justify-content: center
}
.second-screen__arrow-left {
  position: absolute;
  left: 0;
  bottom: 25%
}
.second-screen__arrow-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: rotate(50deg) scale(0);
  transform: rotate(50deg) scale(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 0;
  -webkit-animation: arrow-left 1s forwards 2s;
  animation: arrow-left 1s forwards 2s
}
@-webkit-keyframes arrow-left {
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }
}
@keyframes arrow-left {
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }
}
.second-screen__arrow-right {
  position: absolute;
  right: 0;
  bottom: 25%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.second-screen__arrow-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: rotate(50deg) scale(0);
  transform: rotate(50deg) scale(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 0;
  -webkit-animation: arrow-right 1s forwards 2s;
  animation: arrow-right 1s forwards 2s
}
@-webkit-keyframes arrow-right {
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }
}
@keyframes arrow-right {
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }
}
.second-screen__button {
  overflow: hidden;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  color: #fff;
  padding: 1.25rem;
  background-color: #2fcc36;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  transition: all .3s;
  -webkit-animation: second-screen-button .5s forwards .5s;
  animation: second-screen-button .5s forwards .5s
}
@-webkit-keyframes second-screen-button {
  100% {
    opacity: 1
  }
}
@keyframes second-screen-button {
  100% {
    opacity: 1
  }
}
.second-screen__button::before {
  content: "";
  background: linear-gradient(90deg,rgba(255,255,255,.1),rgba(255,255,255,.5));
  height: 100%;
  width: 40px;
  position: absolute;
  top: 0;
  left: -80px;
  transition: all .5s;
  -webkit-animation: button .5s forwards 2.5s;
  animation: button .5s forwards 2.5s;
  color: #fff;
  -webkit-transform: scale(1.05) skewX(-45deg);
  transform: scale(1.05) skewX(-45deg)
}
@-webkit-keyframes button {
  100% {
    left: 110%
  }
}
@keyframes button {
  100% {
    left: 110%
  }
}
.second-screen__title {
  font-weight: 500;
  letter-spacing: -.03em;
  text-align: center;
  color: #293a4c;
  margin-bottom: 2.75rem;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-animation: second-screen-title .5s forwards 1s;
  animation: second-screen-title .5s forwards 1s
}
@-webkit-keyframes second-screen-title {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes second-screen-title {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.second-screen__cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  -webkit-column-gap: 1.8125rem;
  -moz-column-gap: 1.8125rem;
  column-gap: 1.8125rem;
  row-gap: .625rem
}
.second-screen__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-radius: 1rem;
  background-color: #d1140e;
  opacity: 0;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%)
}
@-webkit-keyframes second-screen-card {
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes second-screen-card {
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
.second-screen__card:nth-child(1) {
  -webkit-animation: second-screen-card .5s forwards 1.5s;
  animation: second-screen-card .5s forwards 1.5s
}
.second-screen__card:nth-child(2) {
  -webkit-animation: second-screen-card .5s forwards 1.7s;
  animation: second-screen-card .5s forwards 1.7s
}
.second-screen__card:nth-child(3) {
  -webkit-animation: second-screen-card .5s forwards 1.9s;
  animation: second-screen-card .5s forwards 1.9s
}
.second-screen__card-step {
  font-weight: 700
}
.second-screen__card-label {
  font-weight: 600;
  line-height: 137%;
  text-align: center
}
@media (min-width:103.75em) {
  .header {
    padding-top: 1.8125rem
  }
  .header__logo {
    width: 19rem
  }
  .header__logo {
    margin-left: 5.625rem
  }
  .header__images {
    gap: 2.3125rem
  }
  .header__images {
    margin-right: 4.4375rem
  }
  .header__image:nth-child(1) {
    width: 4.9375rem
  }
  .header__image:nth-child(2) {
    width: 3.8125rem
  }
  .footer {
    padding-top: .875rem
  }
  .footer {
    padding-bottom: .875rem
  }
  .footer__logo {
    margin-left: 1.875rem
  }
  .footer__logo {
    width: 1.9375rem
  }
  .footer__copy {
    font-size: .875rem
  }
  .footer__copy {
    margin-right: .9375rem
  }
  .page::before {
    height: 25rem
  }
  .page__first-screen {
    padding-bottom: 6.0625rem
  }
  .page__second-screen {
    padding-top: 3.125rem
  }
  .page__second-screen {
    padding-bottom: 6.75rem
  }
  .first-screen__animation {
    margin-bottom: 3.75rem
  }
  .first-screen__animation {
    padding-top: 5rem
  }
  .first-screen__simulated {
    height: 1.875rem
  }
  .first-screen__title {
    font-size: 1.875rem
  }
  .first-screen__cards {
    padding-left: 13.75rem
  }
  .first-screen__cards {
    padding-right: 13.75rem
  }
  .first-screen__card {
    padding-top: 1.375rem
  }
  .first-screen__card {
    padding-bottom: 1.375rem
  }
  .first-screen__card-counter {
    font-size: 3.125rem
  }
  .first-screen__label {
    font-size: 1.125rem
  }
  .second-screen__image {
    width: 40.625rem
  }
  .second-screen__image img:nth-child(2) {
    width: 31.875rem
  }
  .second-screen__button-box {
    width: 56.25rem
  }
  .second-screen__button-box {
    margin-bottom: 4.375rem
  }
  .second-screen__arrow-left {
    width: 7.8125rem
  }
  .second-screen__arrow-right {
    width: 7.8125rem
  }
  .second-screen__button {
    width: 32.5625rem
  }
  .second-screen__title {
    font-size: 2.5rem
  }
  .second-screen__cards {
    padding-left: 13.75rem
  }
  .second-screen__cards {
    padding-right: 13.75rem
  }
  .second-screen__card {
    padding: 2.6875rem
  }
  .second-screen__card-step {
    font-size: 3.75rem
  }
  .second-screen__card-label {
    font-size: 1.375rem
  }
}
@media (max-width:20em) {
  .header {
    padding-top: 1.5rem
  }
  .header__logo {
    width: 9.0625rem
  }
  .header__images {
    gap: .9375rem
  }
  .header__image:nth-child(1) {
    width: 2.0625rem
  }
  .header__image:nth-child(2) {
    width: 1.5625rem
  }
  .footer {
    padding-top: .5625rem
  }
  .footer {
    padding-bottom: .5625rem
  }
  .footer__logo {
    width: 1.4375rem
  }
  .footer__copy {
    font-size: .75rem
  }
  .page::before {
    height: 15.625rem
  }
  .page__first-screen {
    padding-bottom: 2.9375rem
  }
  .page__second-screen {
    padding-top: 6.25rem
  }
  .page__second-screen {
    padding-bottom: 3.1875rem
  }
  .first-screen__animation {
    margin-bottom: 1.125rem
  }
  .first-screen__animation {
    padding-top: 2.5rem
  }
  .first-screen__simulated {
    height: 1.25rem
  }
  .first-screen__title {
    font-size: 1.5rem
  }
  .first-screen__card {
    padding-top: .6875rem
  }
  .first-screen__card {
    padding-bottom: .6875rem
  }
  .first-screen__card-counter {
    font-size: 2.5rem
  }
  .first-screen__label {
    font-size: 1rem
  }
  .second-screen__image {
    width: 20rem
  }
  .second-screen__image img:nth-child(2) {
    width: 15.625rem
  }
  .second-screen__button-box {
    width: 23.75rem
  }
  .second-screen__button-box {
    margin-bottom: 1.875rem
  }
  .second-screen__arrow-left {
    width: 5rem
  }
  .second-screen__arrow-right {
    width: 5rem
  }
  .second-screen__button {
    width: 14.5625rem
  }
  .second-screen__title {
    font-size: 1.375rem
  }
  .second-screen__card {
    padding: 1.125rem
  }
  .second-screen__card-step {
    font-size: 2.5rem
  }
  .second-screen__card-label {
    font-size: 1rem
  }
}
@media (max-width:61.99875em) {
  .header__logo {
    margin-left: .0000000625rem
  }
  .header__images {
    margin-right: .0000000625rem
  }
  .footer__logo {
    margin-left: .0000000625rem
  }
  .footer__copy {
    margin-right: .0000000625rem
  }
  .first-screen__cards {
    padding-left: .0000000625rem
  }
  .first-screen__cards {
    padding-right: .0000000625rem
  }
  .second-screen__cards {
    padding-left: .0000000625rem
  }
  .second-screen__cards {
    padding-right: .0000000625rem
  }
}
@media (max-width:47.99875em) {
  .first-screen__body {
    grid-template-columns: 1fr
  }
  .first-screen__items-left {
    display: none
  }
  .first-screen__items-right {
    display: none
  }
  .first-screen__cards {
    grid-template-columns: repeat(1,1fr)
  }
  .second-screen__cards {
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr)
  }
}
@media (min-width:20em)and (max-width:103.75em) {
  .header {
    padding-top: clamp(1.5rem ,1.4253731343rem + .3731343284vw ,1.8125rem)
  }
  .header__logo {
    width: clamp(9.0625rem ,6.6893656716rem + 11.8656716418vw ,19rem)
  }
  .header__images {
    gap: clamp(.9375rem ,.609141791rem + 1.6417910448vw ,2.3125rem)
  }
  .header__image:nth-child(1) {
    width: clamp(2.0625rem ,1.3759328358rem + 3.4328358209vw ,4.9375rem)
  }
  .header__image:nth-child(2) {
    width: clamp(1.5625rem ,1.0251865672rem + 2.6865671642vw ,3.8125rem)
  }
  .footer {
    padding-top: clamp(.5625rem ,.4878731343rem + .3731343284vw ,.875rem)
  }
  .footer {
    padding-bottom: clamp(.5625rem ,.4878731343rem + .3731343284vw ,.875rem)
  }
  .footer__logo {
    width: clamp(1.4375rem ,1.3180970149rem + .5970149254vw ,1.9375rem)
  }
  .footer__copy {
    font-size: clamp(.75rem ,.7201492537rem + .1492537313vw ,.875rem)
  }
  .page::before {
    height: clamp(15.625rem ,13.3861940299rem + 11.1940298507vw ,25rem)
  }
  .page__first-screen {
    padding-bottom: clamp(2.9375rem ,2.1912313433rem + 3.7313432836vw ,6.0625rem)
  }
  .page__second-screen {
    padding-top: clamp(3.125rem ,6.9962686567rem + -3.7313432836vw ,6.25rem)
  }
  .page__second-screen {
    padding-bottom: clamp(3.1875rem ,2.3367537313rem + 4.2537313433vw ,6.75rem)
  }
  .first-screen__animation {
    margin-bottom: clamp(1.125rem ,.4981343284rem + 3.1343283582vw ,3.75rem)
  }
  .first-screen__animation {
    padding-top: clamp(2.5rem ,1.9029850746rem + 2.9850746269vw ,5rem)
  }
  .first-screen__simulated {
    height: clamp(1.25rem ,1.1007462687rem + .7462686567vw ,1.875rem)
  }
  .first-screen__title {
    font-size: clamp(1.5rem ,1.4104477612rem + .447761194vw ,1.875rem)
  }
  .first-screen__card {
    padding-top: clamp(.6875rem ,.5233208955rem + .8208955224vw ,1.375rem)
  }
  .first-screen__card {
    padding-bottom: clamp(.6875rem ,.5233208955rem + .8208955224vw ,1.375rem)
  }
  .first-screen__card-counter {
    font-size: clamp(2.5rem ,2.3507462687rem + .7462686567vw ,3.125rem)
  }
  .first-screen__label {
    font-size: clamp(1rem ,.9701492537rem + .1492537313vw ,1.125rem)
  }
  .second-screen__image {
    width: clamp(20rem ,15.0746268657rem + 24.6268656716vw ,40.625rem)
  }
  .second-screen__image img:nth-child(2) {
    width: clamp(15.625rem ,11.7444029851rem + 19.4029850746vw ,31.875rem)
  }
  .second-screen__button-box {
    width: clamp(23.75rem ,15.9888059701rem + 38.8059701493vw ,56.25rem)
  }
  .second-screen__button-box {
    margin-bottom: clamp(1.875rem ,1.2779850746rem + 2.9850746269vw ,4.375rem)
  }
  .second-screen__arrow-left {
    width: clamp(5rem ,4.328358209rem + 3.3582089552vw ,7.8125rem)
  }
  .second-screen__arrow-right {
    width: clamp(5rem ,4.328358209rem + 3.3582089552vw ,7.8125rem)
  }
  .second-screen__button {
    width: clamp(14.5625rem ,10.2639925373rem + 21.4925373134vw ,32.5625rem)
  }
  .second-screen__title {
    font-size: clamp(1.375rem ,1.1063432836rem + 1.3432835821vw ,2.5rem)
  }
  .second-screen__card {
    padding: clamp(1.125rem ,.7518656716rem + 1.8656716418vw ,2.6875rem)
  }
  .second-screen__card-step {
    font-size: clamp(2.5rem ,2.2014925373rem + 1.4925373134vw ,3.75rem)
  }
  .second-screen__card-label {
    font-size: clamp(1rem ,.9104477612rem + .447761194vw ,1.375rem)
  }
}
@media (min-width:61.99875em)and (max-width:103.75em) {
  .header__logo {
    margin-left: clamp(.0000000625rem ,-8.3528747586rem + 13.4726503697vw ,5.625rem)
  }
  .header__images {
    margin-right: clamp(.0000000625rem ,-6.5894900546rem + 10.628424149vw ,4.4375rem)
  }
  .footer__logo {
    margin-left: clamp(.0000000625rem ,-2.7842914827rem + 4.4908833568vw ,1.875rem)
  }
  .footer__copy {
    margin-right: clamp(.0000000625rem ,-1.3921456637rem + 2.2454416035vw ,.9375rem)
  }
  .first-screen__cards {
    padding-left: clamp(.0000000625rem ,-20.4181385232rem + 32.9331455645vw ,13.75rem)
  }
  .first-screen__cards {
    padding-right: clamp(.0000000625rem ,-20.4181385232rem + 32.9331455645vw ,13.75rem)
  }
  .second-screen__cards {
    padding-left: clamp(.0000000625rem ,-20.4181385232rem + 32.9331455645vw ,13.75rem)
  }
  .second-screen__cards {
    padding-right: clamp(.0000000625rem ,-20.4181385232rem + 32.9331455645vw ,13.75rem)
  }
}
@media (any-hover:hover) {
  .second-screen__button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}